.header {
  background-color: black;
  justify-content: space-between;

}

.header a {
  color: white;
}

.social_icons,
.header {
  display: flex;
  list-style: none;
  align-items: center;


}

.social_icons li a,
.header>.search_icon {
  display: block;
  padding: 8px 16px;
}

.social_icons li a:hover,
.header>.search_icon:hover {
  background: #ccc;
  color: black;
}


@media (max-width:600px) {
  .header {
    display: none;
  }
}